<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="style.css")
  body
    ul.menu
      li.menu-item
        a(href="/") TODOS
      li.menu-item
        a(href="/create") CREATE
      li.menu-item
        a(href="/login") LOGIN

    .container
      h1=title
      ul.todos
        li.row.title
          .cell Title
          .cell Status
          .cell Action
          .cell Update
        each todo in todos
          li.row
            .cell=todo.title
            .cell=todo.status
            .cell
              a(href=`/delete/${todo._id}`) DELETE
            .cell
              a(href=`/update/${todo._id}`) UPDATE

      